$light_blue: #1CB5E0;

#root {
    height: 100vh;
    min-height: 850px;
}

:root,
.app {
    text-align: center;

    .main-container {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: linear-gradient(0deg, $light_blue, 20%, #050b45 100%) no-repeat;
        padding-top: 100px;
        color: #fff;

        @media (max-width: 720px) {
            padding-top: 70px;
        }

        a {
            color: $light_blue;
            text-decoration: none;
        }
    }
}